<style>
.product-options label, #checkbox-video, #checkbox-pay {
    display: block;
    margin-top: 20px !important;
}
</style>

<div id="product" class="{{ product.handle }}">

  <div class="row clearfix">

    {% if template != 'index' %}
    <!-- Begin breadcrumb -->
    <div class="span12">
      <div class="breadcrumb clearfix">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
          {% else %}
            <a href="/collections/all" title="All Products">{{ 'general.breadcrumbs.products' | t }}</a>
          {% endif %}
        </span>
        <span class="arrow-space">&#62;</span>
        <strong>{{ product.title }}</strong>
      </div>
    </div>
    <!-- End breadcrumb -->
    {% endif %}




    {% if product.id == 2034135557 %}
    <div class="span12" style="display:none">
    If you need advice on your entry please contact Contact Name on <a
    href="tel: Contact Number "> Contact Number </a> or email <a href="mailto: Contact
    Email "> Contact Email </a>.<br><br>
    </div>
    {% endif %}




    <!-- Begin product photos -->
    <div class="span3">

      <!-- Begin featured image -->
      <div class="image featured">
        {% if product.images.size > 0 %}
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        {% if settings.enable_product_image_zoom %}
        <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        {% else %}
        <a href="{{ featured_image | img_url: '1024x1024' }}" class="zoom" id="placeholder">
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        </a>
        {% endif %}
        {% else %}
        <img src="{{ 'No_Image_2.png' | asset_url }}" />
        {% endif %}
      </div>
      <!-- End product image -->

      {% if product.images.size > 1%}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix" style="margin-left:-15px;">
        {% for image in product.images %}
        {% if settings.enable_product_image_zoom %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% else %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- End thumbnails -->
      <style>
      .thumbs .image { margin: 15px 0 }
      .thumbs .image { padding: 0 15px }
      .thumbs .last-in-row { padding-right: 0 }
      </style>
      {% endif %}

    </div>
    <!-- End product photos -->



    <!-- Begin description -->
    <div class="span9">




    {% assign vat_free = false %}
    {% for collection in product.collections %}
    {% if vat_free == false and collection.title == 'Back Issues' %}
    {% assign vat_free = true %}
    {% endif %}
    {% endfor %}
    {% capture price_string %}{{ product.price | money }} {% if vat_free %}(no VAT){%
    else %}(ex. VAT) / {{ product.price | times:1.2 | money }} (inc. VAT){% endif %}{%
    endcapture %





      <h1 class="title">{{ product.title }}</h1>
      {% assign variant = product.selected_or_first_available_variant %}
      <div class="purchase">
      <h2 class="price" id="price-preview">{{ price_string }}{% if variant.price <
      variant.compare_at_price %} <del>{{ variant.compare_at_price | money }}</del>{% endif
      %}</h2>
      </div>

      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <form id="add-item-form" action="/cart/add" enctype="multipart/form-data" method="post" class="variants clearfix">

        <!-- Begin product options -->
        <div class="product-options {% if hide_default_title %}no-options {% endif %}">

          <div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          {% if settings.display_quantity_dropdown %}
          <div class="selector-wrapper">
            <label>{{ 'products.product.quantity' | t }}</label>
            <input id="quantity" type="number" name="quantity" value="1" class="tc item-quantity" />
          </div>
          {% endif %}





          {% if product.id == 2034135557 %}
          <div class="description">
          {{ product.description }}
          </div>

          <p>
            <b>If you are unable to pay via credit card or need an invoice before making payment please <a href="mailto:britishjournalismawards@pressgazette.co.uk">contact us</a></b> to arrange submitting your entry or entries via email.
          </p>
          <p style="padding-top:5px">
            <b>Early Bird Price - £50</b><br>£75 from 1 October.
          </p>
          
          <h2>General criteria:</h2>
          <p>The judges will be looking for journalism which is compelling, revelatory and which makes a difference. It must be both interesting to the public – and in the public interest.<br>It will be up to the judges to decide how to apply the public interest test, but they must look for a higher standard than just that a story is interesting to the public.<br>The judges will take into account the level of journalistic skill, professionalism and effort employed to bring new information to light. The work must tell readers something they did not already know.<br>Work should have been first published or broadcast between 1 September 2014 and 31 August 2015 (with the exception of the Marie Colvin award which has no time limit).</p>
          
          
<h2 style="padding-top:10px">Instructions for
Entry process</h2>
<div id="tickcheck">
<p>
To enter the British Journalism Awards simply fill in the details in the form. To enter your work in multiple categories simply add your work to the basket and then select the next category you would like to enter, before adding this to your basket. Complete this process until you have entered all of your desired categories. Each category entered is priced at £75 +VAT.
</p>
<p>
To enter a separate piece of work simply fill in the form and add this to your basket. Once you have entered all your work into the awards simply click on the checkout button. 
</p>
<p>
There is no fee to enter the Marie Colvin award.
</p>
<p>
All entries must be made in pdf with each file upload no greater than 10MB.
</p>
</div>





<!-- ///////////////// Category 1 Information ///////////////// -->
<div class="category-info-1"><b><b>
</b></b>
<h3>Business, Finance and
Economics Journalism</h3>
<i>Sponsored by TSB</i>
<p>
For the journalist, or journalism team, who has done the most to probe and investigate the world of business</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 2 Information ///////////////// -->
<div class="category-info-2"><b><b>
</b></b>
<h3>Sports Journalism</h3>
<p>
Aimed at the sports journalist, or team, who done the most to investigate the world of sport and serve the public interest</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 3 Information ///////////////// -->
<div class="category-info-3"><b><b>
</b></b>
<h3>Science and Technology Journalism</h3>
<i>Sponsored by Astellas</i>
<p>
Aimed at journalists who cover science, health and technology with a focus on those involved in investigative features and news. Open to individuals or teams.</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 4 Information ///////////////// -->
<div class="category-info-4"><b><b>
</b></b>
<h3>New Journalist of the Year</h3>
<i>Sponsored by the Stationers' Crown Woods Academy</i>
<p>
(for someone who has been a journalist for three years or less)</p>
<p>
This award is for a relative newcomer to the industry (who may have worked in other jobs before). They must have been a journalist for less than 36 months.</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 5 Information ///////////////// -->
<div class="category-info-5"><b><b>
</b></b>
<h3>Digital Innovation</h3>
<p>
For the journalist, or team, who has done the most to help secure the future of public interest journalism with a digital innovation. It could be a successful app, website or blog. Or for a piece of software or hardware. A successful paywall, or other, commercial strategy could also be considered.
</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 6 Information ///////////////// -->
<div class="category-info-6"><b><b>
</b></b>
<h3>Foreign Affairs Journalism</h3>
<p>
For the journalist, or team, working for a UK audience whose reports from overseas have done the most to serve the public interest. As with the other categories, this is open to journalists who work in print, online and broadcasting.</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 7 Information ///////////////// -->
<div class="category-info-7"><b><b>
</b></b>
<h3>Campaign of the Year</h3>
<p>
For the series of articles or broadcasts which as done the most make a difference for the better in society and serve the public interest (you cannot enter the same work in campaign and investigation).</p>
<p>
Please provide up to ten examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 500 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to ten web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 8 Information ///////////////// -->
<div class="category-info-8"><b><b>
</b></b>
<h3>Investigation of the Year</h3>
<p>
For the most incisive and revelatory public interest investigation of the year (you cannot enter the same work in campaign and investigation).</p>
<p>
Please provide up to ten examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 500 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to ten web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 9 Information ///////////////// -->
<div class="category-info-9"><b><b>
</b></b>
<h3>Photojournalism</h3>
<p>For photographer whose work has done the most to serve the public interest.</p>
<p>
Please provide up to three examples of your work via PDF or JPEG and/or via weblinks provided at the end of your covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>

</div>
<!-- ///////////////// Category 10 Information ///////////////// -->
<div class="category-info-10"><b><b>
</b></b>
<h3>The Breaking News Award</h3>
<p>This is the prize for the best story of the year (you can only enter one story for this award).</p>
<p>
Please provide PDFs or a weblink at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide a web link for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 11 Information ///////////////// -->
<div class="category-info-11"><b><b>
</b></b>
<h3>Local Heroes Award</h3>
<p>For the journalist or team who has done the most to serve the public interest a local level or regional level.</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) to Press Gazette British Journalism Awards, 71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 12 Information ///////////////// -->
<div class="category-info-12"><b><b>
</b></b>
<h3>Politics Journalism</h3>
<p>
This award is aimed the journalist, or team, who has done the most to hold politicians to account, with an emphasis on revelation and investigation (rather than purely commentary).</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 13 Information ///////////////// -->
<div class="category-info-13"><b><b>
</b></b>
<h3>Popular Journalism</h3>
<p>
This is the prize for the journalist, or journalism team, who has done the most to serve the public interest with a piece of journalism which also has mass market appeal. Open to tabloid and mid-market newspapers, broadcast journalism with a mass-market audience and websites with mass appeal.
</p>
<p>
Please provide up to three examples of the work via PDF and/or via weblinks provided at the end of the covering statement. Please also provide a covering statement of up to 300 words including an explanation of how this work served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) sent to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 14 Information ///////////////// -->
<div class="category-info-14"><b><b>
</b></b>
<h3>Journalist of the Year</h3>
<i>Sponsored by Audi.</i>
<p>
For the outstanding journalist of the year. This may, or may not, go to someone who has entered another category. All journalists entering other categories will also be considered for journalist of the year.</p>
<p>
If, have however, you wish to make a nomination for journalist of the year as a stand-alone entry please provide up to three examples of the work via PDF and/or via weblinks provided at the end of your covering statement. Please also provide a covering statement of up to 300 words including an explanation of how the prospective journalist of the year served the public interest.</p>
<p>For video entries please provide up to three web links for where the entry can be viewed online. If not online, then please provide four copies of the work on DVD (playable in a normal DVD player) to Press Gazette British Journalism Awards,71-73 Carter Lane London EC4V 5EQ. With submission, please state your name and the category you are entering.</p>
</div>
<!-- ///////////////// Category 15 Information ///////////////// -->
<div class="category-info-15"><b><b>
</b></b>
<h3>The Marie Colvin Award</h3>
<i>Sponsored by Audi.</i>
<p>
For the journalist who over the course of their career has done the most to raise the reputation of the trade of journalism. In previous years this prize has gone to foreign correspondents but it is open to all journalists working mainly for a British audience.</p>
<p>There is no fee to enter this category and Press Gazette welcomes nominations from anyone. Please provide a covering statement of up to 500 words explaining why your nominee deserves to win the Marie Colvin award.</p>
</div>







          <div style="width:50%; float:left; padding-bottom:20px">
            <label><b>Upload supporting material:</b></label>
          <input id="file-upload-1" type="file" name="properties[file-upload-1]" 
          data-error="Please provide at least one file to upload"/>
          
          <input id="file-upload-2" type="file" name="properties[file-upload-2]" 
          data-error="Please provide a file to upload"/>
          <input id="file-upload-3" type="file" name="properties[file-upload-3]"
          data-error="Please provide a file to upload"/>
          <input id="file-upload-4" type="file" name="properties[file-upload-4]" 
          data-error="Please provide a file to upload"/>
          <input id="file-upload-5" type="file" name="properties[file-upload-5]"
          data-error="Please provide a file to upload"/>
          </div>
          <div style="width:50%; float:right; padding-bottom:20px">
          <label><br></label>
          <input id="file-upload-6" type="file" name="properties[file-upload-6]" 
          data-error="Please provide at least one file to upload"/>
          <input id="file-upload-7" type="file" name="properties[file-upload-7]" 
          data-error="Please provide a file to upload"/>
          <input id="file-upload-8" type="file" name="properties[file-upload-8]"
          data-error="Please provide a file to upload"/>
          <input id="file-upload-9" type="file" name="properties[file-upload-9]" 
          data-error="Please provide a file to upload"/>
          <input id="file-upload-10" type="file" name="properties[file-upload-10]"
          data-error="Please provide a file to upload"/>
          </div>
          
          
          <div>
          <label>Enter covering statement of up to 300 or 500 words depending on the category, and weblinks (where applicable here)*</label>
          <textarea style="height: auto; width: auto;" id="covering-statement" rows="10" cols="50" name="properties[covering-statement]" required
                    data-error="Please fill in Covering Statement."></textarea>
          </div>

          <input id="video-entry" type="checkbox" name="properties[video-entry]" value="true">
          Tick this box if you have sent a video entry via post

          <div>
          <label>Name, or names, to appear on the entry if shortlisted*</label>
          <input id="shortlisted-name" type="text" name="properties[shortlisted-name]" required
          data-error="Please fill in your shortlisted name."/>
          </div>

          <div style="padding-bottom:20px">
          <label>Name of publication to appear on the entry if shortlisted*</label>
          <input id="shortlisted-publication" type="text" name="properties[shortlisted-publication]" required
          data-error="Please fill in your shortlisted publication."/>
          </div>

            
          {% endif %}





          <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
            <div class="purchase">
              {% unless product.available %}
              <p>{{ 'products.product.sold_out_html' | t }}</p>
              {% else %}
              <input type="submit" id="add-to-cart" class="btn addtocart" name="add" value="{{ 'products.product.add_to_cart' | t }}" />
              <div id="cart-animation" style="display:none">1</div>
              {% endunless %}
            </div>
          </div>
          
          <p style="font-size: 12px; color: #999; margin-top: 30px">* Required field</p>
          
        </div>
        <!-- End product options -->

        
      </form>

      
      <div class="description">
        {{ product.description }}
      </div>

      <!-- Begin social buttons -->
      {% if settings.social_sharing_products %}
      <div>
        {% include 'social-sharing' %}
      </div>
      {% endif %}
      <!-- End social buttons -->

    </div>
    <!-- End description -->
  <div class="span12"><div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div></div>
  </div>

  <!-- Begin related product -->
  {% if settings.show_related_products %}
    {% include 'related-products' %}
  {% endif %}

</div>

<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: '1024x1024' | img_tag }}
{% endfor %}
</div>

  <script>
  var selectCallback = function(variant, selector) {
    if (variant && variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.featured img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      var message = variant ? {{ 'products.product.sold_out_html' | t | json }} : {{ 'products.product.unavailable_html' | t | json }};
      jQuery('#price-preview').html(message);
    }
  };

  jQuery(document).ready(function($){

    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
    {% endif %}

  });
  </script>
