{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

{% if settings.products_per_row == '3' %}{% assign product_span_size = 'span4' %}{% endif %}
{% if settings.products_per_row == '4' %}{% assign product_span_size = 'span3' %}{% endif %}
{% if template == 'index' %}
  {% if collections[collection_handle].products.size == 4 %}{% assign product_span_size = 'span4' %}{% endif %}
  {% if collections[collection_handle].products.size == 5 %}{% assign product_span_size = 'span3' %}{% endif %}
{% endif %}

<div class="product {{ product_span_size }}">

  {% if product.price_min < product.compare_at_price_min %}
    <span class="circle sale">{{ 'products.product.sale' | t }}</span>
  {% endif %}

  <div class="image">


    {% assign vat_free = false %}
    {% for collection in product.collections %}
    {% if vat_free == false and collection.title == 'Back Issues' %}
    {% assign vat_free = true %}
    {% endif %}
    {% endfor %}
    {% capture price_string %}{{ product.price | money }} {% if vat_free %}(no VAT){% else
    %}(ex. VAT) / {{ product.price | times:1.2 | money }} (inc. VAT){% endif %}{%
    endcapture %}


    <a href="{{ url }}">          
      <img src="{% if product.images.size >= 1%}{{ product.featured_image | product_img_url: 'large' }}{% else %}{{ 'No_Image_2.png' | asset_url }}{% endif %}" alt="{{ product.title | escape  }}" />
    </a>
  </div>

  <div class="details">
    <a href="{{ url }}" class="clearfix">
    <h4 class="title">{{ product.title }}</h4>
    <span class="price">
    {% if product.available %}
    {% if product.compare_at_price_max > product.price %}
    <del>{{ product.compare_at_price | money }}</del>
    {% endif %}
    {% if product.price_varies %}
    <small><em>{{ 'products.general.from' | t }}</em></small>
    {% endif %}
    {{ price_string }}
    {% else %}
    {{ price_string }} {{ 'products.product.sold_out_html' | t }}
    {% endif %}
    </span>
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </a>
  </div>

</div>

{% if product_span_size == 'span4' %}{% cycle 'clear-product-loop': '', '', '<div style="clear:both;"></div>' %}{% endif %}
{% if product_span_size == 'span3' %}{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}{% endif %}
